.auth-container {
  text-align: center;
}


.auth-container label {
  display: block;
}

.auth-container input {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 40%;
}

.auth-container button {
  padding: 0.5rem;
  font-size: large;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: black;
  color: white;
  transition: linear;
  transition-duration: 1s;
}